/* SUMMARY */

/* Button.svelte */
/* CounterButton.svelte */
/* Checkbox.svelte */
/* Radio.svelte */
/* Switch.svelte */
/* Textfield.svelte */
/* DatePicker.svelte */
/* TimePicker.svelte */
/* Droplist.svelte */

html {
    --scroolbar-color: #777;
    --mask-color: rgba(150, 150, 150, 0.5);
}

/* Button.svelte */
.btn-main {
    /* Border color */
    --color-primary: #1D2B83;
    /* Background hover color */
    --color-hover: #cfd4f1;
    /* Font color */
    --color-font: #1D2B83;
}
.btn-main.primary {
    /* Background & border color */
    --color-primary: #1D2B83;
    /* Background & border hover color */
    --color-hover: #5a6ad1;
    /* Font color */
    --color-font: #FFFFFF;
}


/* CounterButton.svelte */
.counter-main {
    /* Background, border & count color */
    --color: #666; 
    /* Background, border & count hover color */
    --color-hover: #111; 
    /* Background, border & count checked color */
    --color-checked: #1D2B83; 
    /* Background, border & count checked hover color */
    --color-checked-hover: #5a6ad1;
    /* Text & icon color */
    --color-text: #FFFFFF;
    /* Text & icon checked color */
    --color-text-checked: #FFFFFF; 
    /* Background color */
    --color-background: #FFFFFF;
}


/* Checkbox.svelte */
.checkbox-main {
    /* Icon color */
    --color-primary: #666; 
    /* Icon color hover */
    --color-hover: #111; 
    /* Icon checked color */
    --color-checked: #1D2B83; 
    /* Icon checked hover color */
    --color-checked-hover: #5a6ad1;
    /* Font color */
    --color-font: #333;
}


/* Radio.svelte */
.radio-main {
    /* Icon color */
    --color-primary: #666; 
    /* Icon color hover */
    --color-hover: #111; 
    /* Icon checked color */
    --color-checked: #1D2B83; 
    /* Icon checked hover color */
    --color-checked-hover: #5a6ad1;
    /* Font color */
    --color-font: #333;
}


/* Switch.svelte */
.switch-main {
    /* Background color */
    --color-primary: #666;
    /* Background hover color */ 
    --color-hover: #111; 
    /* Background checked color */ 
    --color-checked: #1D2B83; 
    /* Background checked hover color */ 
    --color-checked-hover: #5a6ad1; 
    /* Foreground color */ 
    --color-button: #FFFFFF;
}


/* Textfield.svelte */
.textfield-main {
    /* Background color */
    --color-backgroud: #EEEEEE; 
    /* Background hover color */
    --color-backgroud-hover: #DDDDDD;
    /* Label color */
    --color: #666666;
    /* Label, Border focus color */
    --color-focus: #1D2B83;
    /* Label, Border error color */
    --color-error: #cc4141;
}

/* DatePicker.svelte */
.datepicker-mask {
    --color-primary:#5a6ad1; 
    --color-background: #FFFFFF; 
    --color-font: #333333; 
    --color-font-selected: #FFFFFF;
    --color-hover: #EEEEEE;
    --color-font-other: #AAAAAA;
}

/* TimePicker.svelte */
.timepicker-mask {
    --color-primary:#5a6ad1; 
    --color-background: #FFFFFF;
    --color-left-background: #a0aae4; 
    --color-clock-background: #DDDDDD; 
    --color-font: #333333; 
    --color-font-selected: #FFFFFF;
    --color-hover: #EEEEEE;
    --color-font-other: #AAAAAA;
}

/* Droplist.svelte */
.droplist-main {
    --color-backgroud: #EEEEEE; 
    --color-backgroud-hover: #DDDDDD;
    --color: #666666;
    --color-focus: #0d31a6;
    --color-error: #cc4141;
}